.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.d/
*.zip
crash.log
*.tfplan

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

src/images/

terraform.tfvars
*.tfvars.json

.DS_Store
Thumbs.db

.vscode/
.idea/
